/* css/styles.css */

:root {
  /* Primary Colors */
  --meleon-green: #0D3939;
  --meleon-yellow: #E7E569;
  
  /* Secondary Colors - from your brandboard */
  --meleon-green-light: #063432;
  --meleon-accent-1: #3d7068;
  --meleon-accent-2: #54b89a;
  /* Add other secondary colors as needed */
  
  /* Typography */
  --font-primary: 'ITC Avant Garde Gothic Std', sans-serif;
  --font-secondary: 'Montserrat Light', sans-serif;
}

/* Custom styles that go beyond Tailwind's utilities */
.gradient-bg {
  background: linear-gradient(135deg, var(--meleon-green) 0%, var(--meleon-accent-1) 100%);
}

/* Add any other custom styles here */
/* Control maximum width of the content */
.content-wrapper {
  max-width: 1024px; /* This creates a comfortable reading width */
  margin: 0 auto;    /* Centers the content */
  padding: 0 2rem;   /* Adds some breathing room on the sides */
}
